@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TicketLine</h1>
    <br />
    <p style="font-size:17px;">A great solution for managing your flights and your tickets.</p>
</div>
<div class="img-fluid">
    <img src="~/img/Home.png" class="plane-img" />
    <img src="~/img/Alternative.jpg" class ="city-img" />
</div>

