@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TicketLine</h1>
    <p>A great solution for managing your flights and your tickets.</p>
</div>
