@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TicketLine</h1>
    <p>A great solution for managing your flights and your tickets.</p>
    <img src="~/img/Home.png" height="450" width="700"/>
</div>
