@model TicketLine.Models.Flight
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Details";
    ViewData["ShowButtons"] = false;
}

<h1>Flight details</h1>

<div>
    <h4>Check out all the details about the flight.</h4>
    <hr />
    <div>
        <partial name="_DisplayFlightsPartial" model="Model" view-data="ViewData" />
        <div class="col-4" style="margin-top: 1em;">
            <a class="btn btn-primary" asp-action="CreateTicket" asp-route-id="@Model.Id">Get Ticket</a>
        </div> 
        <div class="admin-only">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>