@model IEnumerable<TicketLine.Models.Flight>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
    ViewData["ShowButtons"] = true;
}

<h1>Flights</h1>

<form asp-controller="Flights" asp-action="Index">
    <div class="input-group">
        <input class="form-control" type="text" name="SearchString" />
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>

<p>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Create" style="margin-top: 1em;">Create New</a>
    }
    </p>

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_DisplayFlightsPartial" model="item" view-data="ViewData" />
    }
</div>